login {

  .login-input {
    padding-bottom: 2rem;
  }

  mat-form-field {
    width: 15rem;
  }

  .icon-wrapper {
    text-align: center;
    padding-top: 4rem;
  }

  .icon {
    height: 7rem;
    width: 6rem;
  }

  .login-form-wrapper {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-button {
    text-align: center;
  }

  .registration-link {
    text-align: center;
    padding-bottom: 0.5rem;
  }
}
