login {

  .login-form-wrapper {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-button {
    text-align: center;
  }

  .registration-link {
    text-align: center;
    padding-bottom: 0.5rem;
  }
}
