<mat-toolbar>
  <div class="title">
    <mat-icon class="icon" svgIcon="diatop"></mat-icon>
  </div>
  <span class="toolbar"></span>
  <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
          [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div class="order">
  <mat-icon (click)="openOrderRequestDialog()">add_alert</mat-icon>
</div>
<mat-tab-group class="tabs" (selectedIndexChange)="changePdfView($event)">
  <mat-tab label="Najnovší príspevok">
    <ng-template matTabContent>
      <my-pdf-viewer-single *ngIf="!allPdf"
          [documents]="documents">
      </my-pdf-viewer-single>
    </ng-template>
  </mat-tab>
  <mat-tab label="Všetky príspevky">
    <ng-template matTabContent>
      <my-pdf-viewer-all *ngIf="allPdf"
          [documents]="documents">
      </my-pdf-viewer-all>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openOrderRequestDialog()">Bol som u doktora</button>
  <button mat-menu-item (click)="openAccountInfo()">Môj účet</button>
  <button mat-menu-item (click)="logout()">Odhlásiť sa</button>
</mat-menu>